@use "./master";


.product-detail-container {
    display: flex;
    justify-content: space-between;
    height: 450px;

    .product-detail-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .product-colors {
        display: flex;

        .product-color-item {
            border-radius: 2px;
            margin: auto;
            width: 10px;
            height: 10px;
        }
    }
}

.product-detail-img-container {
    background-image: url("../svg/NIKE_VERTICAL.svg");
    background-repeat: no-repeat;
    background-size: 48%;
    background-position: 50% 100%;
    width: 100%;
    height: 100%;
}

.product-detail-add-to-cart {
    background-image: url("../img/nike-box.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50px;
    position: fixed;
    background-color: transparent;
    left: 0;
    bottom: 0;
    width: 60%;
    height: 170px;
    margin-left: 20%;
    margin-top: 50px;

    display: flex;
    justify-content: start;
    flex-direction: column;

    .swipe-down-button {
        background-color: black;
        border-radius: 65px / 50px;
        height: 100px;
        width: 50px;
        padding: 5px;
        box-shadow: 5px 10px 18px #888888;

        display: flex;
        justify-content: start;
        flex-direction: column;


        .button {
            background-color: #ececec !important;
            -webkit-filter: invert(100%);
            filter: invert(100%);
        }

        .down-arrows {
            background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("../svg/flacha-abajo.svg");
            margin-top: 5px;
            height: 35px;
            width: 100%;
            background-color: white;
            background-repeat: repeat-y;
            background-position: 50% 5%;
            background-size: 30%;
            -webkit-filter: invert(100%);
            filter: invert(100%);
        }
    }
}